@import "./components/Navbar/Navbar.css";
@import "./components/Section/Section.css";
@import "./components/Header_Footer/Header_Footer.css";

body {
    margin: 0px;
    color: #505050;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url(images/Espresso.jpg);
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover { 
    color:#77a6ee;
}
.page {
    width: 70%;
    margin: auto;
    border: 1px solid #505050;
    background-color: rgb(255, 255, 255);  
}




