.Navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height : 50px;
    border-bottom: 1px solid #505050;
}
.Navbar__tab {
    font-size: 20px;
}